* {
    --width: 100px;
    --color: white;
}
table{
    font-family: sans-serif;
    border: 2px solid gray;
    border-collapse: collapse;
}
tr, th, td{
    padding: 10px;
    text-align: center;
    color: var(--color)
}
tr > td{
    text-align: center;
}

tr > td:first-child, tr > th:first-child{
    color: gray;

}
tbody > tr > td:first-child{
    text-align: left;
}

caption {
    text-align: right;
}
.gray{
    background-color: rgb(186, 186, 186);
}
.blue{
    width: var(--width);
    background-color: rgb(85, 213, 255);
    color: var(--color);
}
.green{
    width: var(--width);
    background-color: rgb(120, 244, 120);
    color: var(--color);
}
.yellow{
    width: var(--width);
    background-color: rgb(255, 255, 0);
    color: var(--color);
}
.red{
    width: var(--width);
    background-color: red;
    color: var(--color);
}
span{
    height: 20px;
    width: 20px;
    border-width: 2px;
    border-color: white;
    border-radius: 50px;
    border-style: solid;
    text-align: center;
    margin: 0 auto;
    display: block;
}
tfoot{
    border-top: 1px solid var(--color);
}
thead{
    border-bottom: 1px solid var(--color)
}
